--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch >= 2.0.0
lightning >= 2.0.0
torchmetrics
torchvision
jsonargparse[signatures] # for CLI
ray[tune]

transformers
peft
scikit-learn
datasets
evaluate

func-timeout
graph-walker
guidance
nltk
pandas
pybind11
retriv
sqlglot
sqlparse
tenacity

# dev tools
wandb
jupyterlab
shtab
