torch >= 2.0.0
lightning >= 2.0.0
torchmetrics
jsonargparse[signatures] # for CLI
ray[tune]

openai
transformers
scikit-learn
peft
datasets

diskcache
func-timeout
graph-walker
pandas
pytorch_metric_learning
retriv
sqlglot
sqlparse
tenacity
wordninja

# dev tools
jupyterlab
seaborn
shtab
wandb
